<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Favourite Links</h1>
            <h3 class="mb-5">
                <em>Store your favourite links</em>
            </h3>
            <a href="/signin" class="btn btn-primary btn-lg">Let's get started</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>